* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
}
.header-top {
  display: flex;
  justify-content: space-around;
  background-color: #bc5148;
}
.icons {
  padding: 17px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.icons :hover {
  color: white;
  cursor: pointer;
}
ul {
  align-items: center;
  display: flex;
  gap: 20px;
}
ul :hover {
  color: #bc5148;
  cursor: pointer;
}
.header-t-ul :hover {
  background-color: #f4b214;
  color: white;
  padding: 13px 0px;
}
.header-bottom {
  padding: 19px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  font-weight: 400;
}
h2 :hover {
  cursor: pointer;
}
